body {
	background-color: #F0F0F0;
	margin: 0;
	padding: 0;
}

a.noDecorations {
	color: #000000;
	text-decoration: none;
}

div.box {
	width: 640px;
	height: 90%;
	border: solid 1px #CCCCCC;
	margin: 10px auto;
	padding: 10px;
	position: relative;
}

a.bts:link, a.bts:visited {
	color: black;
	font-face: arial;
	font-size: 20;
	text-decoration: none;
}

a.bts:hover {
	color: green;
	font-face: arial;
	font-size: 20;
	text-decoration: underline;
}

div.footer {
	position: absolute;
	bottom: 10px;
	width: 640px;
}